.focus-detail-nav {
  background-color: rgb(32, 157, 250);
}

.focus-detail-nav .icon-jump:before {
  color: #fff;
}

.focus-detail-nav .title {
  color: #fff;
}

.buttons-tab .button.active {
  color: #0894ec !important;
}

.focus-detail-header {
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  height: 3.25rem;
}

.focus-detail-header_menu {
  height: 3.25rem;
  display: inline-block;
  line-height: 3.25rem;
  flex: 0 0 13%;
  min-width: 2rem;
  position: relative;
  border-bottom: 0.025rem solid #d0d0d0;
}

.focus-detail-header_menu .icon-nav {
  position: absolute;
  right: 40%;
}

.focus-detail-header_menu .icon-nav:before {
  color: #000;
  line-height: 3.25rem;
}

.focus-detail-header_tab {
  flex: 1;
  background-color: #f9f9f9;
}

#showMoreBtn {
  margin-right: 0.5rem;
}

.focus-detail-header_tab a {
  height: 3.25rem !important;
  line-height: 3.25rem !important;
  color: #000 !important;
  font-size: 0.85rem !important;
}

.focus-detail-header_more {
  flex: 0 0 4rem;
  border-bottom: 0.025rem solid #d0d0d0;
}

.bar-tab .active span,
.bar-tab .active i {
  color: #0894ec !important;
}

.focus-detail-header_more span {
  line-height: 3.25rem;
  margin-left: 0.5rem;
  color: #000;
  font-size: 0.85rem;
}

.focus-detail-header_tab i.icon-jump {
  margin-left: 0.25rem;
  transform: rotate(270deg);
  display: inline-block;
  color: #000;
}

.pull-left {
  cursor: pointer;
}

.search-condition-container {
  background-color: #f9f9f9;
  padding: 1rem;
  display: none;
  border-bottom: 0.025rem solid #d0d0d0;
}

.condition-row {
  display: flex;
  margin-bottom: 1rem;
}

.search-input {
  border-radius: 0.1rem;
  border: transparent;
  outline: transparent;
  background: transparent;
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
}

.search-data-type {
  border-radius: 0.2rem;
  flex: 0 0 2.58rem;
  margin-right: 0.5rem;
  border: 0.025rem solid #d0d0d0;
  position: relative;
}

.condition-row .icon-jump:before {
  display: none;
}

.search-data-type:after {
  content: "\e90c";
  position: absolute;
  top: 35%;
  right: 0.25rem;
  transform: translateY(-50%);
  transform: rotate(270deg);
  font-size: 0.5rem;
  color: #d0d0d0;
}

.search-date {
  width: 40%;
  min-width: 5rem;
  border: 0.025rem solid #d0d0d0;
  flex: 1;
  border-radius: 0.2rem;
}

.search-data-span {
  flex: 0 0 1rem;
  margin: 0 0.5rem;
  line-height: 2rem;
}

.search-btn {
  width: 5rem;
  height: 2rem;
}

.comparision-meter-container {
  background-color: #f9f9f9;
}

.header-container {
  position: relative;
  padding-left: 0.8rem;
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 0.75rem;
}

.header-container .focus-switch {
  flex: 0 0 1rem;
  margin-right: 0.9rem;
  margin-top: 0.1rem;
}

.header-container .focus-switch:before {
  color: #0894ec !important;
}

.param-header {
  font-size: 0.75rem;
  color: #000;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.param-header ul li {
  list-style: none;
  text-decoration: none;
}

.param-header span {
  margin-right: 0.6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 4rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  border-bottom: 0.05rem solid #ddd;
}

.current-active {
  color: #0894ec;
  border-bottom: 0.09rem solid #0894ec !important;
}

.param-header .icon-reduce {
  margin-left: 0.5rem;
}

.param-header .icon-reduce:before {
  font-weight: 500;
  color: rgb(255, 0, 48);
}

.operate-icon {
  display: inline-block;
  font-size: 1rem;
}

.operate-icon:before {
  color: #000;
}

.focus-div {
  display: flex;
  flex: 0 0 2rem;
  margin-top: -0.1rem;
}

.focus-detail-subscribe {
  color: #0894ec;
  display: inline-block;
  height: 1rem;
  font-size: 0.5rem;
  padding: 0.05rem 0.25rem;
  flex: 0 0 2rem;
  margin-right: 1rem;
  margin-top: 0.1rem;
  border-radius: 0.1rem;
  line-height: 1rem;
}

.parameter-container {
  background-color: #f9f9f9;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
}

.parameter-container a {
  font-size: 0.6rem;
  margin: 0.125rem 0.25rem 0.125rem 0;
  border: 0.05rem solid #d0d0d0;
  color: #333;
}

.checked {
  background-color: #0894ec !important;
  color: #fff !important;
  border: transparent !important;
}

.chart-unit {
  position: absolute;
  left: 1rem;
  font-size: 0.5rem;
  top: 0.16rem;
  color: #333;
}

.chart-container {
  background-color: #f9f9f9;
  position: relative;
}

.focus-charts {
  height: 15rem;
  width: 100%;
}

.focus-charts canvas {
  /* left: -0.5rem !important;
  width: calc(100% + 0.5rem) !important; */
}

.summary-container {
  background-color: #f9f9f9;
  display: flex;
  padding: 0 0.5rem;
}

.summary-total {
  flex: 1;
}

.summary-average {
  flex: 1;
}

.summary-header-container {
  margin-left: 0.5rem;
  line-height: 2rem;
  font-size: 0.75rem;
  color: #000;
}

.summary-vertical-divide {
  width: 0.05rem;
  border: transparent;
  background-image: -moz-linear-gradient( -90deg, #fff 0%, #ddd 50%, #eee 100%);
  background-image: -webkit-linear-gradient( -90deg, #fff 0%, #ddd 50%, #eee 100%);
  background-image: -ms-linear-gradient( -90deg, #fff 0%, #ddd 50%, #eee 100%);
}

.summary-total-data {
  padding: 0 0.6rem;
  display: flex;
  margin-bottom: 0.8rem;
}

.summary-cycle {
  width: 4rem;
  height: 4rem;
  background-color: #0894ec;
  border-radius: 4rem;
  color: #fff;
  text-align: center;
}

.summary-cycle span:first-child {
  line-height: 4rem;
  display: block;
  font-size: 1.25rem;
}

.summary-cycle span:last-child {
  font-size: 0.5rem;
  display: block;
  margin-top: -1.5rem;
}

.summary-prompt {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.warn {
  color: rgb(255, 0, 48);
  font-size: 0.75rem;
}

.great {
  color: rgb(40, 183, 83);
  font-size: 0.75rem;
}

.data-container {
  flex: 1;
}

.data-prompt {
  font-size: 0.65rem;
  flex: 1;
  margin-left: 0.25rem;
}

.focus-alart-container {
  background-color: #f9f9f9;
  padding: 0 0.5rem;
}

.focus-alart-container .alert-data-item:nth-child(odd) {
  background-color: rgb(238, 249, 255);
}

.focus-table-values {
  background-color: #f9f9f9;
  padding: 0 0.5rem;
}

.alert-container {
  height: 3rem;
  vertical-align: middle;
  padding: 1rem 0;
  font-size: 0.75rem;
  color: #000;
}

.alert-header {
  margin-left: 0.5rem;
  border-left: 0.25rem solid #0894ec;
  padding-left: 0.5rem;
}

.item-name {
  flex: 2;
}

.item-data {
  flex: 1
}

.item-more {
  flex: 0 0 4rem;
  color: rgb(50, 163, 251);
}

.icon-electric {
  font-size: 0.75rem;
  flex: 0 0 1rem;
  margin-top: 0.15rem;
}

.alert-data-item {
  height: 2.5rem;
  line-height: 2.5rem;
  display: flex;
  padding-left: 0.5rem;
  background-color: #f9f9f9;
  font-size: 0.65rem;
  color: #333;
}

#focus-detail-page .list-block {
  margin: 0;
  background-color: #f9f9f9;
}

#focus-detail-page .list-block .item-content {
  background-color: #f9f9f9;
  font-size: 0.65rem;
  color: #333;
}

#focus-detail-page .list-block .item-media+.item-inner {
  margin-left: 0rem;
  background-image: none;
}

#focus-detail-page .list-block ul ul {
  padding-left: 0rem !important;
}

.search-more {
  color: #0894ec !important;
}

.search-overrun-input {
  width: 6.5rem !important;
  background-color: #f9f9f9 !important;
  border-radius: 0.3rem !important;
  color: #333;
  margin-top: 0.125rem !important;
}

.statistic li {
  padding-left: 1.5rem !important;
}

.statistic>li {
  min-height: 2.5rem !important;
  height: 2.5rem !important;
  line-height: 2.5rem !important;
}

.statistic>li div {
  min-height: 2.5rem !important;
  height: 2.5rem !important;
  max-height: 2.5rem !important;
}

.statistic>li:nth-child(odd) {
  background-color: rgb(238, 249, 255) !important;
}

.hidden {
  display: none;
}

.delete-title {
  color: #fff !important;
}

.last-data {
  background-color: #f9f9f9;
}

.last-data-ul>li {
  height: 2rem !important;
  line-height: 2rem !important;
  min-height: 2rem !important;
}

.last-data-ul div {
  max-height: 2rem !important;
  min-height: 2rem !important;
  line-height: 2rem !important;
}

.last-data-ul li.item-content:last-child>div {
  border-bottom: 0.05rem solid #eee;
}

.rule-container {
  background-color: #f9f9f9;
  padding: 0.5rem;
}

.rule-table-header {
  width: 100%;
  display: flex;
  height: 1.5rem;
  line-height: 1.5rem;
}

.rule-table-header span {
  flex: 1;
}

.rule-table-header span,
.rule-table-tbody span {
  font-size: 0.65rem;
  font-weight: normal;
  text-align: center;
}

.rule-table-tbody div:nth-child(odd) {
  background-color: rgb(238, 249, 255);
}

.rule-table-tbody div {
  display: flex;
  padding-left: 0.1rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.rule-table-tbody div span {
  flex: 1;
}

.disable {
  color: #ddd !important;
}

.instantanous-value-date {
  height: 2rem;
}

.ellipsisTitle {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 0.05rem solid #ddd;
  border-radius: 1rem;
  position: absolute;
  right: 0rem;
}

.checkbox i {
  position: absolute;
  top: 0.25em;
  font-size: 0.65rem;
  left: 0.11rem;
}

.checkbox i:before {
  color: #ddd !important;
}

.comparsion-for-checked {
  display: none;
}

.comparsionchecked .comparsion-for-checked {
  border-color: #0894ec !important;
}

.comparsionchecked .comparsion-for-checked i:before {
  color: #0894ec !important;
}

.showCheckBox .comparsion-for-checked {
  display: block !important;
}