.health-detail-header {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9;
    height: 3.25rem;
}

.health-detail-header_menu {
    height: 3.25rem;
    display: inline-block;
    line-height: 3.25rem;
    flex: 0 0 13%;
    min-width: 2rem;
    position: relative;
    border-bottom: 0.025rem solid #d0d0d0;
}

.health-detail-header_menu .icon-nav {
    position: absolute;
    right: 40%;
}

.health-detail-header_menu .icon-nav:before {
    color: #000;
    line-height: 3.25rem;
}

.health-detail-header_tab {
    flex: 1;
    background-color: #f9f9f9;
}

#showMoreBtn {
    margin-right: 0.5rem;
}

.health-detail-header_tab a {
    height: 3.25rem !important;
    line-height: 3.25rem !important;
    color: #000 !important;
    font-size: 0.85rem !important;
}

.health-detail-header_more {
    flex: 0 0 4rem;
    border-bottom: 0.025rem solid #d0d0d0;
}

.bar-tab .active span,
.bar-tab .active i {
    color: #0894ec !important;
}

.health-detail-header_more span {
    line-height: 3.25rem;
    margin-left: 0.5rem;
    color: #000;
    font-size: 0.85rem;
}

.health-detail-header_tab i.icon-jump {
    margin-left: 0.25rem;
    transform: rotate(270deg);
    display: inline-block;
    color: #000;
}

.pull-left {
    cursor: pointer;
}