@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?xdb1d8');
  src: url('../fonts/icomoon.eot?xdb1d8#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?xdb1d8') format('truetype'), url('../fonts/icomoon.woff?xdb1d8') format('woff'), url('../fonts/icomoon.svg?xdb1d8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

.icon-region:before {
  content: "\e900";
}

.icon-report:before {
  content: "\e902";
}

.icon-healthy:before {
  content: "\e903";
}

.icon-my:before {
  content: "\e904";
}

.icon-follow:before {
  content: "\e905";
}

.icon-columnar:before {
  content: "\e906";
}

.icon-electric:before {
  content: "\e907";
}

.icon-nav:before {
  content: "\e908";
}

.icon-gas:before {
  content: "\e909";
}

.icon-water:before {
  content: "\e90a";
}

.icon-search:before {
  content: "\e90b";
}

.icon-jump:before {
  content: "\e90c";
}

.icon-top:before {
  content: "\e90d";
}

.icon-tick:before {
  content: "\e90f";
}

.icon-home:before {
  content: "\e911";
}

.icon-address:before {
  content: "\e914";
}

.icon-telephone:before {
  content: "\e915";
}

.icon-official_network:before {
  content: "\e916";
}

.icon-mobile_phone:before {
  content: "\e917";
}

.icon-maibox:before {
  content: "\e918";
}

.icon-agreement:before {
  content: "\e919";
}

.icon-about_us:before {
  content: "\e91a";
}

.icon-contact_us:before {
  content: "\e91b";
}

.icon-cache:before {
  content: "\e91c";
}

.icon-set_up:before {
  content: "\e91d";
}

.icon-privacy:before {
  content: "\e91e";
}

.icon-password:before {
  content: "\e920";
}

.icon-switch:before {
  content: "\e921";
}

.icon-account:before {
  content: "\e922";
}

.icon-fold-line:before {
  content: "\e923";
}

.icon-coal_mine:before {
  content: "\e92f";
  color: #bbb;
}

.icon-total_area:before {
  content: "\e92d";
  color: #bbb;
}

.icon-capacity:before {
  content: "\e928";
  color: #bbb;
}

.icon-pie_chart:before {
  content: "\e91f";
  color: #bbb;
}

.icon-close:before {
  content: "\e924";
  color: #bbb;
}

.icon-output_value:before {
  content: "\e925";
  color: #bbb;
}

.icon-cold_quantity:before {
  content: "\e926";
  color: #bbb;
}

.icon-other:before {
  content: "\e927";
  color: #bbb;
}

.icon-number_of_people:before {
  content: "\e929";
  color: #bbb;
}

.icon-actual_collection:before {
  content: "\e92a";
  color: #bbb;
}

.icon-theoretical_acquisition:before {
  content: "\e92b";
  color: #bbb;
}

.icon-refresh:before {
  content: "\e92c";
  color: #bbb;
}

.icon-output-value:before {
  content: "\e92e";
}

.icon-reduce:before {
  content: "\e912";
  color: #bbb;
}

.icon-add_to:before {
  content: "\e913";
  color: #bbb;
}

.icon-mobile_data:before {
  content: "\e910";
  color: #bbb;
}

.icon-arrow:before {
  content: "\e901";
  color: #bbb;
}

.icon-wechat:before {
  content: "\e90e";
  color: #bbb;
}

.active .icon:before {
  color: #0894ec;
}

.icon-about_us:before {
  font-size: 1.1rem;
}

.icon-follow:before {
  font-size: 1.6rem;
}

.icon-mobile_data:before {
  color: #00c1de;
  font-size: 6rem;
}

.login-backgroud {
  background-image: url(../img/dl/dlbj.jpg);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
}

.login {
  position: relative;
  top: 10%;
  left: 50%;
  height: 4.5rem;
  width: 4.5rem;
  transform: translateX(-50%);
  border-radius: 4.5rem;
}

.login-company-icon {
  background-image: url(../img/dl/logo.png);
  background-color: #f9f9f9;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.login-description {
  position: relative;
  top: 12%;
  left: 50%;
  color: #fff;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

::-webkit-input-placeholder {
  color: #bbb;
  font-size: 0.7rem;
}

:-moz-placeholder {
  color: #bbb;
  font-size: 0.7rem;
}

::-moz-placeholder {
  color: #bbb;
  font-size: 0.7rem;
}

:-ms-input-placeholder {
  color: #bbb;
  font-size: 0.7rem;
}

.icon-year-month {
  background-image: url(../img/bb/n.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-month-day {
  background-image: url(../img/bb/y.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-bz {
  background-image: url(../img/bb/bz.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-fgp {
  background-image: url(../img/bb/fgp.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-lhs {
  background-image: url(../img/bb/lhs.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-rcb {
  background-image: url(../img/bb/rcb.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-hb {
  background-image: url(../img/bb/h.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-tb {
  background-image: url(../img/bb/t.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-rksjhw {
  background-image: url(../img/bb/rkb.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-sjdcb {
  background-image: url(../img/bb/sjd.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-welcome {
  background-image: url(../img/welcome.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 3rem;
  height: 2.5rem
}

.icon-about-me {
  background-image: url(../img/wd/bj.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  width: 100%;
  height: 25%;
}

.icon-company-logon {
  background-image: url(../img/wd/Logo.png);
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
}

.icon-background-attribute {
  background-repeat: no-repeat;
  background-color: #f9f9f9;
  background-size: 100% 100%;
  height: 2.5rem;
  width: 3rem;
}

.icon-commnunicate {
  background-image: url(../img/gz/communication.png);
}

.icon-electronic-meter {
  background-image: url(../img/gz/electronicmeter.png);
}

.icon-electronic-pk {
  background-image: url(../img/gz/electronicpk.png);
}

.icon-energy-efficient {
  background-image: url(../img/gz/energy-efficient.png);
}

.icon-gas-meter {
  background-image: url(../img/gz/gasmeter.png);
}

.icon-gas-pk {
  background-image: url(../img/gz/gaspk.png);
}

.icon-over-run {
  background-image: url(../img/gz/overrun.png);
}

.icon-water-meter {
  background-image: url(../img/gz/watermeter.png);
}

.icon-water-pk {
  background-image: url(../img/gz/waterpk.png);
}

.icon-focus-other {
  background-image: url(../img/gz/other.png);
}

.icon-focus-up {
  background-image: url(../img/rl/up.png);
  background-color: #f9f9f9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

.icon-focus-down {
  background-image: url(../img/rl/down.png);
  background-color: #f9f9f9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

.icon-more:after {
  content: '\e90c';
  color: #bbb;
  transform: rotate(180deg);
  position: absolute;
  right: 1rem;
}

.icon-loading {
  background-image: url(../img/loading.gif);
  background-color: #f9f9f9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 0.8rem;
  width: 0.8rem;
  display: inline-block;
}

.icon-wechat-png {
  background-image: url(../img/wd/WeChat.png);
  background-color: #f9f9f9;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 0.8rem;
  width: 0.8rem;
  display: inline-block;
}